
:root {
/* Front-end Style Guide */

    /* Layout */
    
    /* The designs were created to the following widths: */
    
    --Mobile: 500px;
    --desktop: 1440px;
    
    /* Neutral */
/* Colors */

    /* Primary */
    /* (active input border) */
    --Linear_gradient : linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    /* (input errors) */
    --Red : hsl(0, 100%, 66%);

    --White: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    
/* Typography */
    
    --size_sentence: font-size: 18px;

/* Body Copy */

    /* Font */

    --space_grotesk: 'Space Grotesk', sans-serif;
    --Weights: font-weights:500;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
   
    font-size: var(--size_sentence);
    min-height: 200vh;
    font-family: var(--space_grotesk);
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200vh;
    min-height: 150vh;
    max-width: var(--desktop);
    margin-top: 0;

}
.col-lg-25{
    width: 30%;
    height: 100%;
    flex-direction: column;
    margin-top: 0;
    background-image: url('./images/bg-main-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.col-lg-75{
    width: 70%;
    height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center
}
.form-card{
    margin-top: 20%;
    width: 22rem;
    height: 22rem   ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input[type=text]{
    width: 100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 2px; /* Bottom margin */
    resize: vertical
}

input:focus{
    outline-style: solid;
    outline-color:var(--Linear_gradient);
    border: inherit;
}
.expire_date_cvc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input[name="mm"], input[name="yy"]{
    width: 100px;

}
input[name="cvc"]{
    width: 126px;
}

.expire_date, .cvc{
    display: flex; 
    align-content: flex-start;
    align-items: flex-start;
}
.expire_date{
    flex-direction: row;
    justify-content: flex-start;
   
}
 
.cvc{
    flex-direction: column;
}

.send{
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

.field {
	margin-bottom: 0.75rem;
    
}
.month, .years{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

small {
    font-size: 9px;
	color: #dc3545;

}

label {
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: top;
	width: 100%;
}

button[type=submit]{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: var(--Very_dark_violet);
    color: var(--White);
}
label{
    font-weight: 500;
    font-size: 15px;
}
.congratulation-card{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.descritpion{
    font-size: 16px;
    color: var(--Dark_grayish_violet);
}


.front-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline   ;
    align-content: flex-end;
    color: var(--White);
    position: relative;
    width:  442px;
    height: 239px;
    padding: 12px;
}

.front-card{
    background: url('./images/bg-card-front.png') no-repeat;
    background-size: contain;
    top: 112px;
    left: 162px;
}
.description {
    display: flex;
    flex-direction: column;
    position: relative;
    top:19px;
    left: 34px;
}
.detail-card{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-size: 16px;
}
.name{
    float: left;
    position: relative;
    left: -4rem;
}
.date{
    display: flex;
    flex-direction: row;
    float: right;
    position: relative;
    right: -3.8rem;
}
.card-logo{
    display: inline;
    position: relative;
    background: url('/images/card-logo.svg') no-repeat;
    background-size: contain;
    width: 108px;
    height: 57px;
    margin-top: -17px;
    margin-left: 1.7rem;
}

.back-card{
    
    display: flex;
    flex-direction: column;
    color: var(--White);
    position: relative;
    width:  447px;
    height: 245px;
}
.back-card{
    background: url('./images/bg-card-back.png') no-repeat;
    background-size: contain;
    top: 178px;
    left: 225px;
}
.cvc-card{
    position: relative;
    left: 23rem;
    top: 7rem;
    color: var(--White);
}
input.error{
    border-color: var(--Red);
}

.logo{
    background: url('./images/icon-complete.svg') no-repeat     ;
    background-size: contain;
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 500px) {
    
    .container{
        font-size: 14px ;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .col-lg-25{
        width: 100%;
        height: 270px;
        margin-top: 0;
        background-image: url('./images/bg-main-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .col-lg-75{
        width: 100%;
        height: 70%;
        
    }
    

    .front-card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline   ;
        align-content: flex-end;
        color: var(--White);
        position: relative;
        width:  368px;
        height: 239px;
        padding: 12px;
    }

    .front-card{
        background: url('./images/bg-card-front.png') no-repeat;
        background-size: contain;
        top: 136px;
        left: 12px;
        z-index: 1;
    }
    .description {
        display: flex;
        flex-direction: column;
        position: relative;
        top:-13px;
        left: 18px;
    }
    .detail-card{
        margin-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        font-size: 12px;
    }
    .name{
        float: left;
        position: relative;
        left: -2rem;
    }
    .date{
        display: flex;
        flex-direction: row;
        float: right;
        position: relative;
        right: -3.8rem;
    }
    .card-logo{
        display: inline;
        position: relative;
        background: url('/images/card-logo.svg') no-repeat;
        background-size: contain;
        width: 75px;
        height: 57px;
        margin-top: -17px;
        margin-left: 0.7rem;
    }

    .back-card{
        
        display: flex;
        flex-direction: column;
        color: var(--White);
        position: relative;
        width:  322px;
        height: 245px;
    }
    .back-card{
        background: url('./images/bg-card-back.png') no-repeat;
        background-size: contain;
        top: -204px;
        left: 149px;
    }
    .cvc-card{
        position: relative;
        left: 16rem;
        top: 4.9rem;
        color: var(--White);
        box-sizing: border-box;
        width: 60px;
        font-size: 15px;
        
    }
}

@media screen and (max-width: 375px) {
    
    .front-card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline   ;
        align-content: flex-end;
        color: var(--White);
        position: relative;
        width:  288px;
        height: 239px;
        padding: 12px;
    }

    .front-card{
        background: url('./images/bg-card-front.png') no-repeat;
        background-size: contain;
        top: 136px;
        left: 12px;
        z-index: 1;
    }
    .description {
        display: flex;
        flex-direction: column;
        position: relative;
        top:-41px;
        left: 13px;
    }
    .detail-card{
        margin-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        font-size: 12px;
    }
    #number{
        font-size: 20px;
    }
    .name{
        float: left;
        position: relative;
        left: -1.7rem;
    }
    .date{
        display: flex;
        flex-direction: row;
        float: right;
        position: relative;
        right: -1.7rem;
    }
    .card-logo{
        display: inline;
        position: relative;
        background: url('/images/card-logo.svg') no-repeat;
        background-size: contain;
        width: 75px;
        height: 57px;
        margin-top: -38px;
    }

    .back-card{
        
        display: flex;
        flex-direction: column;
        color: var(--White);
        position: relative;
        width:  288px;
        height: 245px;
    }
    .back-card{
        background: url('./images/bg-card-back.png') no-repeat;
        background-size: contain;
        top: -194px;
        left: 62px;
    }
    .cvc-card{
        position: relative;
        left: 14rem;
        top: 4.2rem;
        color: var(--White);
        box-sizing: border-box;
        width: 60px;
        font-size: 15px;
        
    }
    
}